@model EducProj.Models.Workshopitems
@{
    ViewData["Title"] = "Dashboard";
    ViewBag.Title = "Dashboard";
}
<style>
    #wrapper {
        background-color: #b0f0ff;
    }

    .text-gray-800 {
        color: #5a5c69 !important;
    }

    .container-fluid {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .text-xs {
        font-size: .7rem;
    }

    .font-weight-bold {
        font-weight: 700 !important;
    }

    .border-left-primary {
        border-left: .25rem solid #4e73df !important;
    }

    .text-gray-300 {
        color: #dddfeb !important;
    }

    .py-2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #e3e6f0;
        border-radius: .35rem;
    }

    .border-left-success {
        border-left: .25rem solid #1cc88a !important;
    }

    .border-left-info {
        border-left: .25rem solid #36b9cc !important;
    }

    .border-left-warning {
        border-left: .25rem solid #f6c23e !important;
    }

    .card-header {
        background-color: rgb(229 229 229);
    }

    .list-card {
        border-radius: 8px !important;
    }

    .list-card-header {
        border-radius: 8px !important;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%) !important;
    }

    .workshop-card-footer {
        padding: 0px !important;
        border-top: 0px;
    }

    .cart-btn {
        padding: 10px;
        width: 120px;
    }

    .cart-pay-btn {
        border-radius: 0px 0px 8px 0px !important;
    }

    .br-0 {
        border-radius: 0px;
    }

    .btn-primary {
        background-color: #0f94b2;
        border-color: #007bff;
    }

        .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
            color: #fff;
            background-color: #19768b;
            border-color: #0f94b2;
        }

    .card-footer {
        background-color: rgb(255 255 255)
    }
</style>
<div class="container-fluid" style="">
    <div class="row">
        <div class="col-sm-6  float-left">
            <nav aria-label="breadcrumb" style="background-color: #b0f0ff">
                <ol class="breadcrumb" style="background-color: #b0f0ff">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Workshopdetail</a></li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-6  float-right">
            <div class="d-sm-flex mb-2 mt-2 ml-3 pr-4 float-right">

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">

            <div class="float-right">
                <div class="pb-4 pt-4">

                    <h1 class=" mb-3 text-gray-800 text-center">@Model.SessionTitle</h1>
                </div>
                <div id="postLists pt-3">
                    @{
                            <div class="float-sm-left">
                                <div class="card list-card mb-4 shadow">
                                    <div class="list-card-header card-header py-3">
                                        <span class="time-span" style="float:left;"><i class="fa fa-clock-o"></i> 01d:02h:01m:58s left!</span>
                                        <h6 class="m-0 align-items-center  d-flex flex-row justify-content-center">@Model.SessionTitle</h6>
                                    </div>
                                    <div class="card-body pl-0">
                                        <div class="col-sm-12 pl-0">
                                            <div class="col-sm-3 float-left  ">
                                                @foreach(var sessImg in Model.WorkshopImages) {
                                                    <img class="img-thumbnail mb-3" src="../images/@sessImg.ImageDetails" />
                                                }
                                            </div>
                                            <div class="col-sm-9 float-left">
                                                @(Model.SessionDetails)  <div class="row mt-5">
                                                    <div class="col-sm-4">
                                                        <ul>
                                                            <li><i class="text-primary fa fas fa-crosshairs" aria-hidden="true"></i> @Model.LocationCity</li>
                                                            <li><i class="fa fa-users text-info" aria-hidden="true"></i> 0/45 have signed up!</li>
                                                            <li><i class="fas fa-graduation-cap text-success" aria-hidden="true"></i> @Model.TotalLessons Lessons</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-4">@Model.LocationDetails</div>
                                                    <div class="col-sm-4 float-right">
                                                        <div class="btn-group float-right">@Model.CreatedByName</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer workshop-card-footer">
                                        <div class="float-left  pl-3"><i class="fa fa-users text-info" aria-hidden="true"></i> <b>0/45 have signed up!</b></div>
                                        <form method="post" class="float-right" action="../CartManager/addToCart">
                                            <input type="hidden" name="productId" value="@Model.SessionId" /><input type="hidden" name="userId" value="@ViewData["userId"]" />
                                            <div class="input-group-prepend">
                                                
                                                <button type="submit" class="btn br-0 cart-btn cart-pay-btn btn-primary" title="Pay & Signup this session"><i class="fa fa-shopping-cart" aria-hidden="true"></i> $ @Model.SessionCost</button>
                                            </div>
                                        </form>
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    }
                </div>
            </div>

        </div>
    </div>


</div>


<script>
        // $(".suppSelect").chosen();
        $(".fromDate").val('');
        $(".toDate").val('');
</script>
<script>
    $(document).ready(function () {

    });
    function addToCart(productId, userId) {
        $.post("CartManager/addToCart", { productId: productId,userId:userId}, function (data, status) {
            //alert("Data: " + data + "\nStatus: " + status);
        });
        }
        $(".ordertotal").html("@ViewData["cartCount"] Courses");
        $(".username").html("$@ViewData["orderTotal"]");
</script>
