@model IList<EducProj.Models.Workshopitems>
@{
    ViewData["Title"] = "My Workshopitems";
}
<div id="content-wrapper">
    <div class="container-fluid">

        <div class="card mb-3">
            <div class="card-header">
                My Workshopitems
                <a href="../CartManager/CreateWorkshop" class="btn-link float-right">Add New</a>
            </div>
            <div class="card-body">
                @{
                    if (!String.IsNullOrEmpty(Context.Request.Query["msg"]))
                    {
                        <div class="alert alert-info" role="alert">
                            @Context.Request.Query["msg"]
                            <a href="../CartManager/MyOrders">Clear</a>
                        </div>
                    }
                }

                <div class="col-sm-12  pl-0 ml-0">

                    <div class="col-sm-6 float-right">

                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table descriptiontable table-bordered" id="dataTable" style="width:100%;font-size: 14px;" cellspacing="0">
                        <thead class="thead-light">
                            <tr>
                                <th style=" width: 6%;">
                                    SI.No
                                </th>
                                <th>
                                    Title
                                </th>
                                <th style=" width: 6%;">
                                    Cost
                                </th>
                                <th style=" width: 8%;">
                                    Available Seats
                                </th>

                                <th style=" width: 8%;">
                                    Total Seats
                                </th>

                                <th style=" width: 13%;">
                                    Created On
                                </th>
                                <th style=" width: 13%;">
                                 
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model != null && Model.Count >= 1)
                            {
                                int i = 1;
                                foreach (EducProj.Models.Workshopitems items in Model)
                                    {

                                        <div class="float-sm-left">

                                            <div class="card list-card mb-4 shadow">
                                                <div class="list-card-header card-header py-3">
                                                    <span class="time-span" style="float:left;"><i class="fa fa-clock-o"></i> 01d:02h:01m:58s left!</span>
                                                    <h6 class="m-0 align-items-center  d-flex flex-row justify-content-center">@items.SessionTitle</h6>
                                                </div>
                                                <div class="card-body pl-0">
                                                    <div class="col-sm-12 pl-0">
                                                        <div class="col-sm-3 float-left  ">
@*                                                            <img class="img-thumbnail" src="../images/@items.WorkshopImages.FirstOrDefault().ImageDetails" />
*@                                                        </div>
                                                        <div class="col-sm-9 float-left">
                                                            @(items.SessionDetails.Length >= 240 ? items.SessionDetails.Substring(0, 240) + "..." : items.SessionDetails)  <div class="row mt-5">
                                                                <div class="col-sm-4">
                                                                    <ul>
                                                                        <li><i class="text-primary fa fas fa-crosshairs" aria-hidden="true"></i> @items.LocationCity</li>
                                                                        <li><i class="fa fa-users text-info" aria-hidden="true"></i> 0/45 have signed up!</li>
                                                                        <li><i class="fas fa-graduation-cap text-success" aria-hidden="true"></i> @items.TotalLessons Lessons</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-sm-4">@items.LocationDetails</div>
                                                                <div class="col-sm-4 float-right">
                                                                    <div class="btn-group float-right">@items.CreatedByName</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer workshop-card-footer">
                                                    <div class="float-left  pl-3"><i class="fa fa-users text-info" aria-hidden="true"></i> <b>0/45 have signed up!</b></div>
                                                    <form method="post" class="float-right" action="../CartManager/addToCart">
                                                        <input type="hidden" name="productId" value="@items.SessionId" /><input type="hidden" name="userId" value="@ViewData["userId"]" />
                                                        <div class="input-group-prepend">
                                                            <a href="../WorkshopDetails/@items.SessionId" class="btn cart-btn br-0 btn-secondary"><i class="fa fa-info-circle" aria-hidden="true"></i> Details</a>
                                                            <button type="submit" class="btn br-0 cart-btn cart-pay-btn btn-primary" title="Pay & Signup this session"><i class="fa fa-shopping-cart" aria-hidden="true"></i> $ @items.SessionCost</button>
                                                        </div>
                                                    </form>
                                                    <div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                            }
                            
@*                            <tr>
                                <td style="vertical-align: middle;">
                                    @i

                                </td>
                                <td style="vertical-align: middle;">
                                    @sessionDetails.SessionTitle
                                </td>
                                <td style="vertical-align: middle;">
                                    @sessionDetails.SessionCost
                                </td>
                                <td style="vertical-align: middle;">
                                    @sessionDetails.AvailableSlots
                                </td>
                                <td style="vertical-align: middle;">
                                    @sessionDetails.TotalSlots
                                </td>

                                <td style="vertical-align: middle;">
                                    @sessionDetails.CreatedDate
                                </td>
                                <td style="vertical-align: middle;">
                                    <a href="../ViewMySessionDetails/@sessionDetails.SessionId" class="btn btn-secondary" title="View Details & Update">Details </a>
                                    <button onclick="removeSession(@sessionDetails.SessionId)" class="btn btn-danger">Remove</button>
                                </td>

                            </tr>*@
          @*                  i = i + 1;
                            }
                            }
                            else
                            {*@
            @*                <tr><td colspan="8" class="text-center">No Records found</td></tr>
                            }*@
                        </tbody>

                    </table>


                </div>


            </div>


        </div>
    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->

</div>
<script>
        function removeSession( SessionId) {
            if (confirm("Confirm the delete operation?")) {
                $.ajax({
                    url: "../CartManager/RemoveSession" ,
                    type: 'DELETE',
                    data: {sessionId: SessionId },
                    success: function (result) {
                        if (result.status) {
                            alert(result.message);
                            window.location.reload();
                        } else {
                            alert(result.message);
                        }
                        // Do something with the result
                    }
                });
            }


        }
</script>
